<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>早8点管理端</title>

    <style>
        ::-webkit-scrollbar
        {
            width: 1px;
            height: 1px;
            background-color: #F0F0F0;
        }
    </style>
</head>
<body scoll=no>
<img src="{{ url_for("static", filename='') }}" alt="">
<form action="http://localhost:8888/user/create/dietetic_daily/" method="post" enctype="multipart/form-data">
    <input type="text" name="type" value="">
    <input type="text" name="content" value="">
    <input type="file" name="images" value="" multiple>
    <input type="submit" value="提交">
</form>


<button onclick="add()">哈哈</button>
<script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>

<script>
function add() {
    add_file_arr = ["dsdfghjgfdsfgbfd","sdfghngfbvccxvb",3,4];
    alert(add_file_arr)
        $.ajax({
            url:'http://localhost:8888/user/create/dietetic_daily/',
            type:'post',
            traditional: true,
            dataType: "json",
            data:{
                "type": 1,
                "content": 1,
                "images": add_file_arr
            },
            success: function (data) {
                if(data.code==0){
                    layer.msg(data.msg,{icon:1})
                }else {
                    layer.msg(data.msg,{icon:7})
                }
            },
            error: function (data) {
                alert('...')
            }
        })
    }
</script>
</html>
